<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Incluir Vue.js en nuestro archivo HTML-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <title>Renderizado de lista</title>
</head>

<body>
    <h3>Ejemplo de renderizado de lista</h3>
    <h3>Directiva v-for</h3>
    <div id="app">
        <ul>
            <!-- Implementamos la directiva v'for para iterar en el arreglo de los tipos de moneda -->
            <li v-for="currency in currencies">
                {{ currency}}

            </li>
        </ul>
        <ul>
            <!-- Ahora mostramos el index de cada objeto de nuestro arreglo con esta avriación de la 
            directiva v-for -->
            <li v-for="(country, index) in contries">
                {{ index + '-' + country}}

            </li>
        </ul>

        <script>
            // Instancia de vue
            var vue = new Vue({
                el: '#app',
                // Arreglos de datos
                data: {
                    currencies: ["USD", "MXN", "AUD"],
                    contries: ["USA", "MEX", "AUS"]
                }
            })
        </script>

    </div>

</body>

</html>